@import "../styles/constants";

.swap-widget {
  padding: $space-standard;
  background: #fff;
  border-radius: 2*$border-radius-input;

  .asset-value {
    position: relative;
    padding: $space-micro;
    border: 1px solid $gray;
    border-radius: 2*$border-radius-input;

    .asset-selector {
      position: absolute;
      top: $space-micro;
      right: 1em;
      padding: 0.65em $space-micro;
      border: 1px solid $gray;
      border-radius: $space-standard;
    }
  }

  input {
    background: #fff;
    display: inline-block;
    font-size: 1.3em;
    font-weight: bold;
    width: 100%;
    height: 1.2em;
    line-height: 1.7em;
    padding: 0 5em 0 0;
    z-index: 0;
    user-select: none;
    outline: 0;
    border: none;
  }

  .wallet-icons {
    display: inline-flex;
    height: 1.75rem;
    padding-right: 0.5em;
    //
    //.wallet-icon {
    //  display: inline-block;
    //  width: 1.75rem;
    //  height: 1.75rem;
    //  margin-left: -.75em;
    //  border-radius: 50%;
    //  border: 1px solid $gray;
    //
    //  //&.wallet-connect {
    //  //  background: #fff url("img/widget/wallet-connect.png") center no-repeat;
    //  //  background-size: 70%;
    //  //}
    //  //
    //  //&.lobstr {
    //  //  background: #fff url("img/widget/lobstr.png") center no-repeat;
    //  //  background-size: 60%;
    //  //}
    //  //
    //  //&.freighter {
    //  //  background: #654cd8 url("img/widget/freighter.png") center no-repeat;
    //  //  background-size: contain;
    //  //}
    //  //
    //  //&.albedo {
    //  //  background: #fff url("img/widget/albedo.svg") center no-repeat;
    //  //  background-size: 70%;
    //  //}
    //}

    img {
      width: 1.75rem;
      height: 1.75rem;
      background: #fff;
      border-radius: 100%;
      margin-left: -.75em;

      &:first-child {
        margin-left: 0;
      }
    }
  }
}

@media (max-width: $responsive-mobile-browser-width) {
  .swap-widget {
    padding: $space-micro;
  }
}