@import "../../styles/constants";

$button-spacing: 1rem;

.button,
button {
  color: #fff;
  cursor: pointer;
  display: inline-block;
  font-size: $font-size-base;
  font-weight: 500;
  height: 3.4em;
  min-width: 7em;
  line-height: 3.4em;
  padding: 0 2em;
  text-align: center;
  text-decoration: none;
  white-space: nowrap;
  margin-right: $button-spacing;
  margin-bottom: 0.5em;
  position: relative;
  z-index: 0;
  user-select: none;
  background: $primary;
  border: 1px solid $primary;
  border-radius: $border-radius-input;
  outline: 0.25em solid transparent;
  transition: .2s;

  &.button-block {
    display: block;
    width: 100%;
  }

  &:last-child {
    margin-right: 0;
  }

  &.button-micro {
    padding: 0 1em;
    height: 2.85em;
    line-height: 2.85em;
  }

  &.small {
    font-size: 0.85*$font-size-base;
    padding: 0 0.5em;
    height: 2.4em;
    line-height: 2.4em;
  }

  &.big {
    display: flex!important;
    justify-content: center;
    align-items: center;
    height: 5.4em;
    padding: 1em;

    &:hover {
      background: transparent!important;
      color: #0059FF!important;
    }
  }

  &:hover {
    text-decoration: none;
    outline-color: rgba(1,83,225, .25);
  }

  &[disabled],
  &.disabled {
    cursor: default !important;
    opacity: 0.7;

    &:hover,
    &:active {
      background: $primary;
      outline: 0;
    }
  }

  &.button-outline {
    background: transparent;
    color: $primary;

    &:hover {
      color: #fff;
      background: $primary;
    }

    &[disabled],
    &.disabled {
      background: initial;
      border-color: $primary;
      outline: 0;

      &:focus,
      &:hover {
        color: $primary;
      }
    }

    &.alert {
      color: $red;
      border-color: $red;

      &.focus,
      &:hover {
        color: #fff;
        background: $red;
        outline-color: rgba(220,53,69, .25);
      }
    }
  }

  &.button-secondary {
    color: $primary;
    background: $gray;
    border-color: $gray;

    &:hover {
      color: #fff;
      background: $primary;
      border-color: $primary;
    }

    &[disabled],
    &.disabled {
      outline: 0;
      color: $color-dimmed;

      &:focus,
      &:hover {
        color: $color-dimmed;
        background: $gray;
        border-color: $gray;
      }
    }

    &.alert {
      color: $red;
      border-color: $red;

      &.focus,
      &:hover {
        color: #fff;
        background: $red;
        outline-color: rgba(220,53,69, .25);
      }
    }
  }

  &.button-white {
    color: $primary;
    background: #fff;
    border-color: #fff;

    &:hover {
      color: #fff;
      background: $info;
      border-color: $info;
    }
  }

  [class^="icon-"], [class*=" icon-"] {
    margin-right: 0.75em;
  }
}

@media (max-width: $responsive-mobile-browser-width) {
  button,
  .button {
    &.stackable {
      display: block;
      width: 100%;
    }
  }
}